<h1>Depoimentos</h1>
<hr>

<section id="testimonies">
    {{items}}

    {{pagination}}
</section>

<hr>

<section id="form">
    <h3>Envie seu depoimento</h3>
    <form method="post" action="?page=1">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="nome" required>
        </div>
        <div class="form-group">
            <label for="mensagem">Mensagem</label>
            <textarea name="mensagem" id="mensagem" rows="5" class="form-control" required></textarea>
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-success">Enviar</button>
        </div>
    </form>
</section>